@keyframes background{
100%{
background-size:100px 100px;
}

0%{
background-size:300px 300px;
}

}

body{
background-image: url("https://media1.tenor.com/m/leDSjffZwuQAAAAd/ass-funny-mom-doin-your-mom-ray-william-johnson.gif");
background-attachment: fixed;
background-size: 100px 80px;
animation: background .1s linear;
animation-iteration-count: infinite;
cursor: url(https://cur.cursors-4u.net/others/oth-2/oth121.cur), auto !important;
}


@keyframes rainbow{
100%,0%{
transform: rotate(90deg);
                       font-size: 20px;
color: rgb(255,0,0);
}
8%{
color: rgb(255,127,0);
}
16%{
color: rgb(255,255,0);
}
25%{
transform: rotate(10deg);
color: rgb(127,255,0);
}
33%{
color: rgb(0,255,0);
}
41%{
color: rgb(0,255,127);
}
50%{
transform: rotate(240deg);
font-size: 80px;
color: rgb(0,255,255);
}
58%{
color: rgb(0,127,255);
}
66%{
color: rgb(0,0,255);
}
75%{
color: rgb(127,0,255);
}
83%{
transform: rotate(45deg);
color: rgb(255,0,255);
}
91%{
font-size:10px;
color: rgb(255,0,127);
}
}
td.td2{
align: center;
}
td.td1{
}
table{
animation: rainbow 2.5s linear;
animation-iteration-count: infinite;
width: 80%;
padding: 0 10% 0 10%;
}
a{
animation: rainbow 2.5s linear;
animation-iteration-count: infinite;
text-decoration: none;
transition : all 0.1s;

text-shadow: red 2px 5px, pink 10px 25px, green -5px -20px;
}
a:hover{
color: #5edbf7;
font-size:100px;
transform: rotate(90deg);
}
a::after {
content : "definitively a troll";
}

#mal_control_strip{
color: red;
}
